<form method="post" action="secrets">
    <textarea name="body"></textarea>
    <label for="requiresPassword">Requires Password</label>
    <input type="checkbox" name="requiresPassword" id="requiresPassword">
    <input type="text" name="password" id="password"/>
    <label for="expiresIn">Expires In</label>
    <select name="expiresIn">
        <optgroup label="Minutes">
            <option>5 mins</option>
            <option>10 mins</option>
            <option>15 mins</option>
        </optgroup>
        <optgroup label="Hours">
            <option>1 hours</option>
            <option>4 hours</option>
            <option>12 hours</option>
        </optgroup>
        <optgroup label="Days">
            <option>1 days</option>
            <option>4 days</option>
            <option>7 days</option>
        </optgroup>
    </select>
    <button type="submit">Create Link</button>
</form>

